name: Export Org to HTML and Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Emacs
        run: sudo apt-get update && sudo apt-get install -y emacs-nox

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Export Org files to HTML
        run: |
          cat > publish.el << 'EOF'
          (require 'ox-publish)

          (setq org-html-validation-link nil
                org-html-head-include-default-style nil
                org-html-link-home "/"
                org-html-preamble t
                ;; org-html-head "<style>body {max-width: 40rem; margin: 0 auto;}</style>")

          (setq org-publish-project-alist
                '(("legal"
                   :base-directory "."
                   :publishing-directory "./_site"
                   :publishing-function org-html-publish-to-html
                   :recursive t)))

          (org-publish-all t)
          EOF

          emacs --batch --load publish.el --kill

          # Rename README.html to index.html
          mv _site/README.html _site/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
